
<form method="post" action="/question">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Hãy hỏi cộng đồng một câu hỏi đúng sai/có không</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows=5></textarea>
    <p> còn 200/200 kí tự </p>
   <button type="submit" class="btn btn-primary">Gửi</button>
  </div>
</form>
