<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>question</title>
    <link rel="stylesheet" type="text/css" ">
  </head>
  <body>
    <div class="paragraph">
      <p class="question">
        Questions: {{question}}
      </p>

      <p class="choice">
        <span>Yes:{{yes}}</span>
        <span>No:{{no}}</span>
      </p>


      <form class="form" action="/question/No" method="post">
        <input class = "submit" type="submit" name="No" value="No">
      </form>
      <form class="form" action="/question/Yes" method="post">
        <input class = "submit" type="submit" name="Yes" value="Yes">
      <form>

    </div>
  </body>
</html>
