<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <nav class="menu">
      <span><a href="/">home page</a></span>
      <span><a href="/about">CV</a></span>
      <span><a href="/ask">ask</a></span>
      <span><a href="/question">Question</a></span>
    </nav>

    {{{body}}}
  </body>
</html>
