<div class="span3" >
    <h2>Sign Up</h2>
    <form method ="post" action="/api/users/">

    <label>Email Address</label>
    <input type="email" name="email" class="span3"><br>
    <label>Username</label>
    <input type="text" name="username" class="span3"><br>
    <label>Password</label>
    <input type="password" name="password" class="span3"><br>
    <label>User avatar link</label>
    <input type="text" name="userAvatar" class="span3"><br>
    <label>Title</label>
    <input type="text" name="title" class="span3"><br>
    <input type="submit" value="Sign up" class="btn btn-primary">
    <div class="clearfix"></div>
    </form>
</div>
