<div>
  <label> username</label>
  <input type="text" id="username"/>
</div>
<div>
  <label>Message</label>
  <input type="text" id="message"/>
</div>
<div>
  <button type="button" id="sendMessage">send massage<button>
  </div>
  <div>
    <button type="button" id="joinServer"></button>
