.menu{
  background: #D5B0AC;
  color:#402E2A;
  font-weight: bold;
  text-align: center;
}
.menu span {
  position: relative;
  display: inline-block;
  width: 100px;
  line-height: 30px;
}
.menu span:hover {
  background: #9CD08F;
  color:#FFFFFF;
  cursor:pointer;
}

.menu_vertical{
  display: none;
  position: absolute;
}
.menu_vertical .menu_vertical{
  /*position: absolute;*/
  left: 100px;
  top: 0px;
}
.menu_vertical span{
  border-bottom: 1px solid #ffffff;
}
.menu span:hover >.menu_vertical{
  display: block;
}
